body {
    margin: 0;
    padding: 0;
}
h1 {
    background-color: aqua;
    padding: 15px;
    overflow: auto;
    margin-bottom: 20px;
    margin-top:0;
    color: white;
    font-size: 60px;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    border-bottom: 3px solid black;
}
#buttons {
    margin-bottom: 20px;
    margin-left: 10px;
}
.TVShow {
    padding: 10px;
    margin-left: 5px;
    background-color: aqua;
    border-color: black;
}
#tv-form {
    margin-left: 15px;
}
#tv-input {
    margin-bottom: 10px;
    font-size: 20px;
    border-color: aqua;
}
#find-show {
    padding: 10px;
    margin-left: 5px;
    background-color: aqua;
    border-color: black;
    margin-bottom: 10px;
}
img {
    width: 300px;
    height: 200px;
}
#gifs {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}
.tvShow {
    padding: 10px;
    margin-left: 5px;
    background-color: aqua;
    border-color: black;
}
.tvShowAnimate {
    display: none;
}